@import 'styles/variables';

.preview-page {
    width: 100vw;
    padding: 80px 40px 120px;
    display: flex;
    flex-direction: column;
    background-color: #f3f4f6;
    // overflow: hidden;
    position: relative; // For fixed children

    .back-btn-container {
        position: fixed;
        top: 24px;
        left: 24px;
        z-index: 10;
    }

        .preview-empty {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            gap: 1rem;
            color: $text-gray;

        button {
                padding: 0.5rem 2rem;
                background-color: $primary-green;
                color: white;
                border: none;
                border-radius: 99px;
                font-weight: 600;
                cursor: pointer;
                transition: $transition-base;

            &:hover {
                    transform: translateY(-2px);
                    box-shadow: $shadow-md;
            }
        }
    }
}

// Modular Imports for the preview components
@import 'styles/calendar';
@import 'styles/export';
@import 'styles/preview-toolbar';
