@import 'styles/variables';
.schedule-page {
  min-height: 100vh;
  padding: 2rem;
  padding-bottom: 5rem;
  overflow-x: auto;
  background-color: $bg-light;
}

.content-container {
  width: fit-content;
    max-width: 1400px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.page-footer {
  margin-top: 4rem;
  text-align: center;
  font-size: 0.9rem;
  color: $secondary-teal;
  opacity: 0.6;
}
// Modular Imports
@import 'styles/header';
@import 'styles/calendar';
@import 'styles/permits';
@import 'styles/export';
