@import 'styles/variables';
.schedule-page {
  min-height: 100vh;
  padding: 2rem;
  padding-bottom: 5rem;
  overflow-x: auto;
  background: $primary-gradient;
}

.content-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @media (min-width: 969px) {
    grid-template-columns: 1fr 1fr;
  }
}

// Modular Imports
@import 'styles/header';
@import 'styles/calendar';
@import 'styles/permits';
@import 'styles/export';
