@import 'variables';

.preview-toolbar-container {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 10;
  max-width: calc(100vw - 4rem);
}

@media (max-width: 640px) {
  .preview-toolbar-container {
    top: auto;
    bottom: 1.5rem;
    right: 50%;
    transform: translateX(50%);
    width: 90%;
    display: flex;
      justify-content: center;
      max-width: 90vw;
  }
}
